# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais
venv/
.venv/
env/
ENV/

# Configurações locais
.env

# Banco de Dados
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# Backups
backups/
*.bak
*.backup

# Cache
.cache/
.pytest_cache/
.mypy_cache/

# Cobertura de testes
.coverage
htmlcov/

# VS Code
.vscode/

# PyCharm
.idea/

# Sistema Operativo
.DS_Store
Thumbs.db

# Distribuição
build/
dist/
*.egg-info/

# Arquivos temporários
*.tmp
*.temp
