# ==========================
# TITAN AFFILIATE PLATFORM
# Requirements
# ==========================

# Telegram
pyTelegramBotAPI==4.29.1

# Banco de Dados
SQLAlchemy==2.0.43
alembic==1.16.5

# Configurações
python-dotenv==1.1.1

# API
fastapi==0.116.1
uvicorn==0.35.0

# Segurança
passlib[bcrypt]==1.7.4
PyJWT==2.10.1

# Cache
redis==6.4.0

# Agendamentos
APScheduler==3.11.0

# HTTP
requests==2.32.5

# Utilidades
pydantic==2.11.7
python-dateutil==2.9.0.post0

# Logs
loguru==0.7.3

# Testes
pytest==8.4.2
pytest-cov==7.0.0
